<mos-ui-loader #myLoader></mos-ui-loader>
<mos-ui-toast #myToast></mos-ui-toast>
<mos-ui-animated-container>
    <div content>
        <div class="mos-container-card">
            <mos-logo></mos-logo>
        </div>
        <mos-ui-login (emitRegisterData)="signUpCognito($event)" (emitLoginData)="signInCognito($event)" (emitResetPassword)="onResetPassword()"
        [showLoginForm]="showLoginForm" [resetForms]="resetForms"
        >
        </mos-ui-login>
    </div>
</mos-ui-animated-container>

<mos-ui-modal #verificationCodeModal [titleText]="'Verification'" (emitAcceptButton)="confirmClick()">
    <div modalContent>
        <input mosUiInput type="text" placeholder="Verification code" [(ngModel)]="verificationCode">
    </div>
</mos-ui-modal>

<mos-ui-modal #resetPassword (emitAcceptButton)="confirmResetPassword()" [titleText]="'Reset password'" [size]="'spm'">
    <div modalContent>
        <form [formGroup]="resetPasswordForm">
            <ng-container *ngIf="forgotPasswordActionState === 'email'">
                <input mosUiInput type="text" placeholder="Email" formControlName="email">
            </ng-container>
            <ng-container *ngIf="forgotPasswordActionState === 'code'">
                <input mosUiInput type="text" placeholder="Code" formControlName="code">
                <input mosUiInput type="password" placeholder="New password" formControlName="password">
                <div class="mos-alert" *ngIf="isInvalidFormField('password')">
                    <p>The password must contain:</p>
                    <ul>
                        <li>At least 8 characters</li>
                        <li>At least one uppercase letter</li>
                        <li>At least one lowercase letter</li>
                        <li>At least one number and special character</li>
                    </ul>
                </div>
            </ng-container>
        </form>
    </div>
</mos-ui-modal>
