<h1>TEST</h1>
<div class="register">
    <h2>Register</h2>
    <input type="text" [(ngModel)]="user!.email" placeholder="email">
    <input type="password" [(ngModel)]="user!.password" placeholder="password" autocomplete = "off">
    <button (click)="signUpCognito()">SignUp</button>
</div>

<div class="confirm" *ngIf="isConfirm">
    <h2>Enter code</h2>
    <input type="text" placeholder="Verification code" [(ngModel)]="user!.code">
    <button (click)="confirmSignUp()">Send</button>
</div>

<div class="login">
    <h2>Login</h2>
    <input type="text" [(ngModel)]="user!.email" placeholder="email">
    <input type="password" [(ngModel)]="user!.password" placeholder="password" autocomplete = "off">
    <button (click)="signInCognito()">SignIn</button>
    <button (click)="forgotPasswordClicked()">Forgot password</button>
</div>

<div class="password" *ngIf="isForgotPassword">
    <input type="text" placeholder="Verification Code" [(ngModel)]="user!.code">
    <input type="password" placeholder="New password" [(ngModel)]="user!.password">
    <button (click)="newPasswordSubmit()">send</button>
</div>

<button (click)="getUserInfo()">get user</button>
<button (click)="getSessionInfo()">get token</button>
<router-outlet></router-outlet>